
.mainContainer{
    display: flex;
    flex-direction: column;
}
.controller h1{
    text-decoration: underline;
}
.controllerOptions{
    display: flex;
    flex-direction: row;
}
.controllerOptions select{
    width: 10rem;
}
.traffic-light {
    height: 21.5rem;
    width: 6.25rem;
    float: left;
    background-color: #333;
    border-radius: 1.25rem;
    margin: 3rem 0 3rem 0;
    padding: 0.60rem;
}
.light {
    height: 4.5rem;
    width: 4.5rem;
    background-color: #111;
    border-radius: 50%;
    margin: 2rem auto;
    transition: background 500ms;
}
.off{
    background-color: #111;  
}
.red{
    background-color: red;
    -webkit-box-shadow: 0px 0px 38px 11px rgba(223,0,0,0.69); 
    box-shadow: 0px 0px 38px 11px rgba(223,0,0,0.69);
    background: #E30000;
}
.yellow{
    background-color: yellow;
    -webkit-box-shadow: 0px 0px 38px 11px rgba(245,246,48,0.69); 
    box-shadow: 0px 0px 38px 11px rgba(245,246,48,0.69);
    background: #F5F630;
}
.green{
    background-color: green;
    -webkit-box-shadow: 0px 0px 38px 11px rgba(56,162,12,0.69); 
    box-shadow: 0px 0px 38px 11px rgba(56,162,12,0.69);
    background: #38A20C;
}

#demoObject {
    -webkit-box-shadow: 0px 0px 38px 11px rgba(223,0,0,0.69); 
    box-shadow: 0px 0px 38px 11px rgba(223,0,0,0.69);
    background: #E30000;
    }
    body#tinymce {
    background: #FFFFFF
    }