<div class="mainContainer">
    <div class="traffic-light">
      <div class="light"></div>
      <div class="light"></div>
      <div class="light"></div>
    </div>

    <div class="controller">
        <h1>Controlador</h1>
        <div class="controllerOptions">
            <select 
                    id="color" 
                    name="color" 
                    formControlName="light" 
                    class="form-control"
                    >
                <option *ngFor="let color of lights" [value]="color">
                    {{ color }}
                </option>
            </select>
            <div class="form-check">
                <input class="form-check-input" 
                        type="checkbox"
                        id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  Encendido/Apagado
                </label>
            </div>
        </div>
    </div>
</div>